# Transforming the nutrients data into a matrix for clustering

### Connecting to the postgresql server

In [1]:
import pandas as pd
import numpy as np
import sqlalchemy as sal
from sqlalchemy import text

SERVER : awesome.hw.sdsc.edu
Port : 5434
Database : nourish


user : gmichael

password : 567khcwx3s

#### Connect to the database

In [2]:
engine = sal.create_engine('postgresql+psycopg2://gmichael:567khcwx3s@awesome-hw.sdsc.edu/nourish')
conn = engine.connect()

#### Pull the list of nutrients by product
Deviating from profs recommendation and delimiting by '|' since some column names have ':' in it

In [3]:
query_nutrients = text('''SELECT "NDB_No", array_agg("Nutrient_name"||'|'||"Output_value" order by "Nutrient_name")
from "Nutrients_Branded_Foods_2018"
group by "NDB_No"''')

result = conn.execute(query_nutrients)

nutrient_data = [i for i in result]

nutrient_data[0:2]

[(45001524, ['Calcium, Ca|50', 'Carbohydrate, by difference|35', 'Cholesterol|25', 'Energy|200', 'Fatty acids, total saturated|3.75', 'Fatty acids, total trans|0' ... (24 characters truncated) ... 0', 'Iron, Fe|0', 'Protein|2.5', 'Sodium, Na|75', 'Sugars, total|30', 'Total lipid (fat)|6.25', 'Vitamin A, IU|0', 'Vitamin C, total ascorbic acid|3']),
 (45001528, ['Calcium, Ca|0', 'Carbohydrate, by difference|43.24', 'Cholesterol|0', 'Energy|162', 'Fatty acids, total saturated|0', 'Fatty acids, total trans|0',  ... (25 characters truncated) ...  'Iron, Fe|0', 'Protein|0', 'Sodium, Na|703', 'Sugars, total|37.84', 'Total lipid (fat)|0', 'Vitamin A, IU|270', 'Vitamin C, total ascorbic acid|9.7'])]

#### Create a pandas dataframe and reshape it

In [4]:
nutrient_df = pd.DataFrame(nutrient_data)
nutrient_df.head(3)

     NDB_No                                          array_agg
0  45001524  [Calcium, Ca|50, Carbohydrate, by difference|3...
1  45001528  [Calcium, Ca|0, Carbohydrate, by difference|43...
2  45001529  [Calcium, Ca|0, Carbohydrate, by difference|41...

Create a function to convert the list to a dictionary

In [5]:
def convert_to_dict(lst):
    output = {}
    for key_value in lst:
        key, value = key_value.split('|', 1)
        #handle duplicates by checking if key value already exists and taking average
        #not common with this data, but there are a few instances
        if key in output:
            output[key] = (output[key] + float(value))/2
        else:
            output[key] = float(value)
    return output

Update the array_agg column in the nutrients dataframe

In [6]:
nutrient_df['array_agg'] = nutrient_df['array_agg'].apply(lambda x: convert_to_dict(x))

In [7]:
nutrient_df.head(3)

     NDB_No                                          array_agg
0  45001524  {'Calcium, Ca': 50.0, 'Carbohydrate, by differ...
1  45001528  {'Calcium, Ca': 0.0, 'Carbohydrate, by differe...
2  45001529  {'Calcium, Ca': 0.0, 'Carbohydrate, by differe...

Use pd.json_normalize to pivot the dataframe on the nutrient column. Inspiration:

https://stackoverflow.com/questions/38231591/split-explode-a-column-of-dictionaries-into-separate-columns-with-pandas

In [8]:
nutrients_pivoted = pd.json_normalize(nutrient_df['array_agg'])
nutrients_pivoted.fillna(0, inplace = True)
nutrients_pivoted.head()

,"Calcium, Ca","Carbohydrate, by difference",Cholesterol,Energy,"Fatty acids, total saturated","Fatty acids, total trans","Fiber, total dietary","Iron, Fe",Protein,"Sodium, Na",...,18:2 undifferentiated,Glucose (dextrose),Starch,Lutein + zeaxanthin,"Fluoride, F","18:2 n-6 c,c","Choline, from phosphotidyl choline","18:3 n-3 c,c,c (ALA)",Epigallocatechin-3-gallate,Vitamin D3 (cholecalciferol)
0,50.0,35.00,25.0,200.0,3.75,0.0,0.0,0.0,2.5,75.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,43.24,0.0,162.0,0.00,0.0,0.0,0.0,0.0,703.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,41.18,0.0,176.0,0.00,0.0,0.0,0.0,0.0,676.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,34.29,0.0,143.0,0.00,0.0,0.0,0.0,0.0,971.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,45.95,0.0,189.0,0.00,0.0,0.0,0.0,0.0,757.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Merge the original df with the pivoted df, and drop the dictionary column

In [9]:
nutrient_df = nutrient_df.merge(nutrients_pivoted, left_index = True, right_index = True)
del nutrient_df["array_agg"]
nutrient_df.head()

,NDB_No,"Calcium, Ca","Carbohydrate, by difference",Cholesterol,Energy,"Fatty acids, total saturated","Fatty acids, total trans","Fiber, total dietary","Iron, Fe",Protein,...,18:2 undifferentiated,Glucose (dextrose),Starch,Lutein + zeaxanthin,"Fluoride, F","18:2 n-6 c,c","Choline, from phosphotidyl choline","18:3 n-3 c,c,c (ALA)",Epigallocatechin-3-gallate,Vitamin D3 (cholecalciferol)
0,45001524,50.0,35.00,25.0,200.0,3.75,0.0,0.0,0.0,2.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,45001528,0.0,43.24,0.0,162.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,45001529,0.0,41.18,0.0,176.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,45001530,0.0,34.29,0.0,143.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,45001531,0.0,45.95,0.0,189.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Export the matrix to csv

In [11]:
nutrient_df.to_csv("Matrix_Nutrients_Branded_Foods_2018.csv", index = False)

# If the database is down, you can import the file locally
Must download the file from https://data.nal.usda.gov/dataset/usda-branded-food-products-database

In [2]:
nutrient_df = pd.read_csv(r"../../data/Nutrients.csv", usecols= ["NDB_No", "Nutrient_name", "Output_value"])

In [3]:
nutrient_df.head(3)

     NDB_No                Nutrient_name  Output_value
0  45127487                      Protein           4.3
1  45127487            Total lipid (fat)          18.9
2  45127487  Carbohydrate, by difference          72.8

In [4]:
#convert categorical to make pivoting faster
nutrient_df["Nutrient_name"] = nutrient_df["Nutrient_name"].astype("category")

#### Before pivoting this data, it's important to note there are a few duplicate counts for product / nutrient

In [5]:
counts = nutrient_df.groupby(by = ["NDB_No", "Nutrient_name"], as_index = False).count()
over_counted_nutrients = counts[counts['Output_value']>1].copy(deep = True)
over_counted_nutrients.rename(columns = {"Output_value": "Count_of_Output_value"}, inplace = True)
over_counted_nutrients

            NDB_No Nutrient_name  Count_of_Output_value
3910331   45095515        Energy                      2
7339545   45162398        Energy                      2
9451631   45189128        Energy                      2
14849863  45262237        Energy                      2
19535199  45343319        Energy                      2
21169201  45360957        Energy                      2

Take the average the over counted nutrients

In [6]:
nutrient_df = nutrient_df.pivot_table(index="NDB_No", columns = "Nutrient_name",
                    fill_value = 0,
                    values = "Output_value",
                    aggfunc ={"Output_value": np.mean})

In [7]:
nutrient_df.shape

(237837, 94)

In [8]:
nutrient_df.head()

Nutrient_name,10:0,12:0,"18:2 n-6 c,c",18:2 undifferentiated,"18:3 n-3 c,c,c (ALA)",8:0,Alanine,"Alcohol, ethyl",Arginine,Ash,...,Vitamin D,Vitamin D (D2 + D3),Vitamin D3 (cholecalciferol),Vitamin E,Vitamin E (alpha-tocopherol),Vitamin E (label entry primarily),Vitamin K (phylloquinone),Water,Xylitol,"Zinc, Zn"
NDB_No,,,,,,,,,,,,,,,,,,,,,
45001524,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0,0,0.0,0,0,0,0.0,0.0,0,0.0
45001528,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0,0,0.0,0,0,0,0.0,0.0,0,0.0
45001529,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0,0,0.0,0,0,0,0.0,0.0,0,0.0
45001530,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0,0,0.0,0,0,0,0.0,0.0,0,0.0
45001531,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0,0,0.0,0,0,0,0.0,0.0,0,0.0

Export the matrix to csv

In [10]:
nutrient_df.reset_index().to_csv("Matrix_Nutrients_Branded_Foods_2018.csv", index = False)