# Initial investigation of clustering on the table Nutrients_Branded_Foods_2018

### Connecting to the postgresql server

In [1]:
import pandas as pd
import numpy as np
import sqlalchemy as sal
from sqlalchemy import text

SERVER : awesome.hw.sdsc.edu
Port : 5434
Database : nourish


user : gmichael

password : 567khcwx3s

In [2]:
engine = sal.create_engine('postgresql+psycopg2://gmichael:567khcwx3s@awesome-hw.sdsc.edu/nourish')
conn = engine.connect()

#### View all tables in the db

In [3]:
#all_tables_query = text('''SELECT * FROM pg_catalog.pg_tables''')
#result = conn.execute(all_tables_query)
#data = [i for i in result]
#data

### View the nutrients and products tables

In [10]:
qry_Products = text('''SELECT DISTINCT "NDB_Number" FROM "Products_Branded_Foods_2018" ''')
result = conn.execute(qry_Products)
print(list(result.keys()))
data = [i for i in result]

['NDB_Number']

In [11]:
len(data)

239087

In [15]:
products_old = pd.DataFrame(data)

In [12]:
products = pd.read_csv(r"../../data/Products.csv", usecols= ["NDB_Number"])

In [20]:
products[~products["NDB_Number"].isin(products_old["NDB_Number"])]

        NDB_Number
187087    45304764
222625    45358246

In [4]:
qry_Nutrients_Limit1 = text('''SELECT * FROM "Nutrients_Branded_Foods_2018" Limit 1''')
result = conn.execute(qry_Nutrients_Limit1)
print(list(result.keys()))
data = [i for i in result]
data

ProgrammingError: (psycopg2.errors.InsufficientPrivilege) permission denied for table Nutrients_Branded_Foods_2018

[SQL: SELECT * FROM "Nutrients_Branded_Foods_2018" Limit 1]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [6]:
qry_Products_45127487 = text('''SELECT * FROM "Products_Branded_Foods_2018"
WHERE "NDB_Number" = 45127487 ''')
result = conn.execute(qry_Products_45127487)
print(list(result.keys()))
data = [i for i in result]
data

['NDB_Number', 'long_name', 'data_source', 'gtin_upc', 'manufacturer', 'date_modified', 'date_available', 'ingredients_english']

[(45127487, 'KEEBLER MIXED COOKIES CHOCOLATE 3OZ', 'GDSN', Decimal('30100585541'), 'Kellogg Company US', '2017-02-07 04:04:51', '2017-02-07 05:00:51', 'ENRICHED FLOUR (WHEAT FLOUR, NIACIN, REDUCED IRON,  THIAMIN MONONITRATE  [VITAMIN B1], RIBOFLAVIN  [VITAMIN B2], FOLIC ACID), SUGAR, VEGETABLE OIL (H ... (295 characters truncated) ... ING SODA, SODIUM ACID PYROPHOSPHATE, MONOCALCIUM PHOSPHATE) , NATURAL AND ARTIFICIAL FLAVORS, POLYSORBATE 60, SORBITAN MONOSTEARATE, MOLASSES, DATEM.')]

### Pull the foods with their list of nutrients

In [6]:
#query_NdbList = text('''SELECT "NDB_No", array_agg("Nutrient_name"||':'||"Output_value" order by "Nutrient_name")
#from "Nutrients_Branded_Foods_2018"
#group by "NDB_No"''')
query_NdbList = text('''SELECT "NDB_No", "Nutrient_name", "Output_value" 
from "Nutrients_Branded_Foods_2018"
order by "NDB_No" ''')
result = conn.execute(query_NdbList)

ProgrammingError: (psycopg2.errors.InsufficientPrivilege) permission denied for table Nutrients_Branded_Foods_2018

[SQL: SELECT "NDB_No", "Nutrient_name", "Output_value"
from "Nutrients_Branded_Foods_2018"
order by "NDB_No" ]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [51]:
data = [i for i in result]

In [52]:
len(data)

999999

In [53]:
data[0]

(45001846, 'Protein', Decimal('7.5'))

In [54]:
nutrients = pd.DataFrame(data)

In [55]:
nutrients.head()

     NDB_No                Nutrient_name Output_value
0  45001846                      Protein          7.5
1  45001846            Total lipid (fat)         42.5
2  45001846  Carbohydrate, by difference         47.5
3  45001846                       Energy          600
4  45001846                Sugars, total           40

In [58]:
nutrients.columns

Index(['NDB_No', 'Nutrient_name', 'Output_value'], dtype='object')

In [56]:
nutrients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999999 entries, 0 to 999998
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   NDB_No         999999 non-null  int64
 1   Nutrient_name  999999 non-null  object
 2   Output_value   999999 non-null  object
dtypes: int64(1), object(2)
memory usage: 22.9+ MB

In [70]:
nutrients_pivot = pd.pivot_table(nutrients, index = "NDB_No", columns = "Nutrient_name", values = "Output_value", 
                                fill_value=None)

In [75]:
#pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10
Note: you may need to restart the kernel to use updated packages.

In [76]:
nutrients_pivot.describe().T.to_excel('nutrient_breakdown.xlsx')

In [28]:
query_NutrientsUnits = text('''SELECT DISTINCT "Nutrient_name", "Output_uom"
from "Nutrients_Branded_Foods_2018"
order by "Nutrient_name"''')
result = conn.execute(query_NutrientsUnits)
data = [i for i in result]
data

### If the database is down, you can import the file locally
Must download the file from https://data.nal.usda.gov/dataset/usda-branded-food-products-database

In [2]:
nutrients = pd.read_csv(r"../../data/Nutrients.csv", usecols= ["NDB_No", "Nutrient_name", "Output_value"])
products = pd.read_csv(r"../../data/Products.csv", usecols= ["NDB_Number", "long_name", "manufacturer", "ingredients_english"])
#roducts = pd.read_csv(r"../../data/Products.csv")

In [3]:
products

,NDB_Number,long_name,manufacturer,ingredients_english
0,45001524,MOCHI ICE CREAM BONBONS,"G. T. Japan, Inc.","ICE CREAM INGREDIENTS: MILK, CREAM, SUGAR, STR..."
1,45001528,CHIPOTLE BARBECUE SAUCE,FRESH & EASY,"WATER, SUGAR, TOMATO PASTE, MOLASSES, DISTILLE..."
2,45001529,HOT & SPICY BARBECUE SAUCE,FRESH & EASY,"SUGAR, WATER, DISTILLED VINEGAR, TOMATO PASTE,..."
3,45001530,BARBECUE SAUCE,FRESH & EASY,"TOMATO PUREE (WATER, TOMATO PASTE), SUGAR, DIS..."
4,45001531,BARBECUE SAUCE,FRESH & EASY,"SUGAR, DISTILLED VINEGAR, WATER, TOMATO PASTE,..."
...,...,...,...,...
239084,45376427,Food Should Taste Good Black Bean Multigrain B...,GENERAL MILLS SALES INC.,"BLACK BEANS*, STONE GROUND CORN, HIGH OLEIC SU..."
239085,45376428,"Diet Cherry Coke Can, 12 fl oz",The Coca-Cola Company-0049000000016,"INGREDIENTS: CARBONATED WATER, CARAMEL COLOR, ..."
239086,45376429,Betty Crocker Hot Fudge Brownie Mug Treats 12 ...,GENERAL MILLS SALES INC.,"SUGAR, FUDGE TOPPING (SUGAR, SWEETENED CONDENS..."
239087,45376430,"McCafe Frappe Vanilla Coffee Bottle, 13.7 fl oz",The Coca-Cola Company-0049000000016,"INGREDIENTS: COFFEE (WATER, COFFEE), MILK, SUG..."
239088,45376431,"McCafe Frappe Mocha Coffee Bottle, 13.7 fl oz",The Coca-Cola Company-0049000000016,"INGREDIENTS: COFFEE (WATER, COFFEE), MILK, SUG..."

In [4]:
nutrients.head(3)

     NDB_No                Nutrient_name  Output_value
0  45127487                      Protein           4.3
1  45127487            Total lipid (fat)          18.9
2  45127487  Carbohydrate, by difference          72.8

In [5]:
nutrients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3231488 entries, 0 to 3231487
Data columns (total 3 columns):
 #   Column         Dtype
---  ------         -----
 0   NDB_No         int64
 1   Nutrient_name  object
 2   Output_value   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 74.0+ MB

In [6]:
#convert categorical to make pivoting faster
nutrients["Nutrient_name"] = nutrients["Nutrient_name"].astype("category")

In [7]:
nutrients.head(3)

     NDB_No                Nutrient_name  Output_value
0  45127487                      Protein           4.3
1  45127487            Total lipid (fat)          18.9
2  45127487  Carbohydrate, by difference          72.8

In [8]:
nutrients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3231488 entries, 0 to 3231487
Data columns (total 3 columns):
 #   Column         Dtype
---  ------         -----
 0   NDB_No         int64
 1   Nutrient_name  category
 2   Output_value   float64
dtypes: category(1), float64(1), int64(1)
memory usage: 52.4 MB

#### Before pivoting this data, it's important to note there are a few duplicate counts for product / nutrient

In [9]:
counts = nutrients.groupby(by = ["NDB_No", "Nutrient_name"], as_index = False).count()

In [10]:
over_counted_nutrients = counts[counts['Output_value']>1].copy(deep = True)
over_counted_nutrients.rename(columns = {"Output_value": "Count_of_Output_value"}, inplace = True)
over_counted_nutrients

            NDB_No Nutrient_name  Count_of_Output_value
3910331   45095515        Energy                      2
7339545   45162398        Energy                      2
9451631   45189128        Energy                      2
14849863  45262237        Energy                      2
19535199  45343319        Energy                      2
21169201  45360957        Energy                      2

Filter out the over counted nutrients

In [11]:
nutrients = nutrients[~nutrients["NDB_No"].isin(over_counted_nutrients["NDB_No"])]

In [12]:
nutrients_pivot = nutrients.pivot_table(index="NDB_No", columns = "Nutrient_name",
                    fill_value = 0,
                    values = "Output_value",
                    aggfunc ={"Output_value": np.min})

In [13]:
nutrients_pivot = nutrients.pivot(index="NDB_No", columns = "Nutrient_name",
                    values = "Output_value")
nutrients_pivot.fillna(0, inplace = True)

In [14]:
nutrients_pivot.shape

(237831, 94)

In [15]:
nutrients_pivot.head(3)

Nutrient_name,10:0,12:0,"18:2 n-6 c,c",18:2 undifferentiated,"18:3 n-3 c,c,c (ALA)",8:0,Alanine,"Alcohol, ethyl",Arginine,Ash,...,Vitamin D,Vitamin D (D2 + D3),Vitamin D3 (cholecalciferol),Vitamin E,Vitamin E (alpha-tocopherol),Vitamin E (label entry primarily),Vitamin K (phylloquinone),Water,Xylitol,"Zinc, Zn"
NDB_No,,,,,,,,,,,,,,,,,,,,,
45001524,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45001528,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45001529,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
#print(nutrients_pivot.sum().to_string(float_format='{:.0f}'.format))

## Apply DBSCAN Algorithm

In [17]:
from sklearn.cluster import DBSCAN
dbscan = DBSCAN(eps = 5, min_samples = 4)

In [18]:
model = dbscan.fit(nutrients_pivot)

In [19]:
labels = model.labels_
print(np.unique(labels))

[  -1    0    1 ... 7159 7160 7161]

In [20]:
unique, counts = np.unique(labels, return_counts=True)
print(np.asarray((unique, counts)).T)

[[    -1 154033]
 [     0      5]
 [     1    124]
 ...
 [  7159      7]
 [  7160      4]
 [  7161      5]]

In [21]:
labeled_nutrients = pd.DataFrame({"NDB_No": nutrients_pivot.index, "DBSCAN_Label": labels})
labeled_nutrients.head(3)

     NDB_No  DBSCAN_Label
0  45001524            -1
1  45001528            -1
2  45001529            -1

In [22]:
labeled_nutrients = labeled_nutrients.merge(products, left_on = "NDB_No", right_on = "NDB_Number", sort = True)
labeled_nutrients.drop(columns = ["NDB_Number"], inplace = True)
labeled_nutrients.head(3)

,NDB_No,DBSCAN_Label,long_name,manufacturer,ingredients_english
0,45001524,-1,MOCHI ICE CREAM BONBONS,"G. T. Japan, Inc.","ICE CREAM INGREDIENTS: MILK, CREAM, SUGAR, STR..."
1,45001528,-1,CHIPOTLE BARBECUE SAUCE,FRESH & EASY,"WATER, SUGAR, TOMATO PASTE, MOLASSES, DISTILLE..."
2,45001529,-1,HOT & SPICY BARBECUE SAUCE,FRESH & EASY,"SUGAR, WATER, DISTILLED VINEGAR, TOMATO PASTE,..."

In [23]:
#non_noise_labeled_nutrients = labeled_nutrients[labeled_nutrients["DBSCAN_Label"]!=-1].copy(deep = True)
non_noise_labeled_nutrients = labeled_nutrients.copy(deep = True)
non_noise_labeled_nutrients.sort_values(by = "DBSCAN_Label", inplace = True)
non_noise_labeled_nutrients.to_excel("DBSCAN_labeled_nutrients.xlsx", index = False)
non_noise_labeled_nutrients

,NDB_No,DBSCAN_Label,long_name,manufacturer,ingredients_english
0,45001524,-1,MOCHI ICE CREAM BONBONS,"G. T. Japan, Inc.","ICE CREAM INGREDIENTS: MILK, CREAM, SUGAR, STR..."
143821,45238329,-1,BALSAMIC VINAIGRETTE,ANNIE'S,"WATER, EXPELLER PRESSED VEGETABLE OIL (CANOLA ..."
143822,45238330,-1,"ANNIE'S NATURALS, ORGANIC COWGIRL RANCH DRESSING",ANNIE'S NATURALS,*EXPELLER PRESSED VEGETABLE OIL (*CANOLA AND/O...
143823,45238331,-1,FORTUNE COOKIES,Umeya Inc.,"ENRICHED FLOUR (BLEACH WHEAT, FLOUR, NIACIN, R..."
143824,45238332,-1,"KHONG GUAN, SULTANA BISCUITS",Khong Guan Biscuit Factory,"WHEAT FLOUR, RAISINS, SUGAR, VEGETABLE OIL (PA..."
...,...,...,...,...,...
237691,45375115,7110,"Gold Peak Sweetened Black Tea Bottle, 52 fl oz",The Coca-Cola Company-0049000000016,"INGREDIENTS: TEA (FILTERED WATER, BREWED TEA C..."
237695,45375119,7111,"Gold Peak Unsweetened Black Tea Bottle, 18.5 f...",The Coca-Cola Company-0049000000016,"TEA (FILTERED WATER, BREWED TEA CONCENTRATE), ..."
237744,45375168,7111,"Gold Peak Diet Green Tea Bottle, 18.5 fl oz",The Coca-Cola Company-0049000000016,"INGREDIENTS: TEA (FILTERED WATER, BREWED TEA C..."
237616,45375040,7111,"Gold Peak Unsweetened Lemon Tea Bottle, 52 fl oz",The Coca-Cola Company-0049000000016,"TEA (FILTERED WATER, BREWED TEA CONCENTRATE), ..."
237702,45375126,7111,"Gold Peak Diet Green Tea Bottle, 64 fl oz",The Coca-Cola Company-0049000000016,"INGREDIENTS: TEA (FILTERED WATER, BREWED TEA C..."

Try dbscan no params

In [21]:
dbscan_noparam = DBSCAN()

In [22]:
model = dbscan_noparam.fit(nutrients_pivot)

In [23]:
labels = model.labels_
unique, counts = np.unique(labels, return_counts=True)
print(np.asarray((unique, counts)).T)

[[    -1 183035]
 [     0     50]
 [     1    146]
 ...
 [  4601      8]
 [  4602     11]
 [  4603      5]]