In [1]:
from pathlib import Path

import pandas as pd

In [2]:
# set up out path
data_p = Path("../../../data/ontologies/")

out_p = data_p / "out/"

# create write paths
node_p = out_p / "nodes.csv"
rel_p  = out_p / "rels.csv"

In [3]:
node_df = pd.read_csv(node_p)
print(node_df.shape)
node_df.drop_duplicates(subset='node_id:ID', inplace=True)
node_df.to_csv(node_p,index=False)
node_df.shape

(46044, 4)

(46044, 4)

In [4]:
node_df.columns

Index(['node_id:ID', 'descriptive_label:string[]', 'iri', ':LABEL'], dtype='object')

In [10]:
node_df[["node_id:ID", ":LABEL"]].groupby(by=":LABEL").count()

          node_id:ID
:LABEL
AND             4389
BLANK           9458
Concept        32023
NOT                6
OR               103
Property          65

In [15]:
df = node_df[["node_id:ID", ":LABEL"]].copy()
df.rename(columns={":LABEL": "Type", "node_id:ID": "Count"}, inplace=True)
eda_df = df[["Count", "Type"]].groupby(by="Type").count()
eda_df = eda_df.sort_values(by="Count", ascending=False)
eda_df

          Count
Type
Concept   32023
BLANK      9458
AND        4389
OR          103
Property     65
NOT           6

In [16]:
eda_df["Frequency"] = eda_df["Count"] / df.shape[0]
eda_df

          Count  Frequency
Type
Concept   32023   0.695487
BLANK      9458   0.205412
AND        4389   0.095322
OR          103   0.002237
Property     65   0.001412
NOT           6   0.000130