# Cluster the nutrients matrix via kmeans

Goal:

Take the dimension reduced (via PCA) version of the nutrients matrix created in a prior notebook and perform kmeans on it. Performing kmeans is a necessary to increase the speed of hierarchical clustering as it will be performed on the centroids of the clusters

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time

from sklearn.cluster import KMeans

In [2]:
# csv paths
nutrient_matrix_data_p = r"../data/"

nutrient_matrix_pca_csv_p = nutrient_matrix_data_p + "nutrients_matrix_pca.csv.gz"

#### Import cleaned nutrient data. Set the fdc_id to the index. Remove zero rows.

In [3]:
nutrients_matrix = pd.read_csv(nutrient_matrix_pca_csv_p)
nutrients_matrix.set_index("fdc_id", inplace = True)
print(nutrients_matrix.shape)
nutrients_matrix.head()

(1590701, 65)

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
fdc_id,,,,,,,,,,,,,,,,,,,,,
344604,-0.007552,-1.400151,0.097258,0.045458,0.049453,0.019196,0.163201,-0.003585,0.035777,0.024830,...,-0.026410,0.041591,-0.004853,-0.019035,0.001287,-0.024380,0.006185,-0.006895,-0.010728,0.024357
344605,-0.007552,-1.400148,0.097258,0.045458,0.049453,0.019196,0.163199,-0.003584,0.035780,0.024831,...,-0.026415,0.041571,-0.004857,-0.019031,0.001289,-0.024398,0.006096,-0.006882,-0.010721,0.024363
344606,-0.002998,-0.924938,0.061935,0.113642,0.035358,0.025363,0.327843,0.015355,0.289016,-0.068408,...,-0.069557,0.139652,-0.005474,-0.047251,0.097320,-0.025371,0.015223,-0.005454,0.008299,-0.057664
344607,-0.002998,-0.924938,0.061935,0.113642,0.035358,0.025363,0.327843,0.015355,0.289016,-0.068408,...,-0.069557,0.139652,-0.005474,-0.047251,0.097320,-0.025371,0.015223,-0.005454,0.008299,-0.057664
344608,-0.004066,-0.694697,0.045839,0.075089,0.037210,0.050376,0.591255,0.013635,0.124902,-0.024720,...,-0.007984,0.041261,0.000803,-0.011797,0.103713,0.050000,-0.010583,-0.018607,-0.064377,-0.039917

In [9]:
program_starts = time.time()
kmeans = KMeans(n_clusters=10000,init='k-means++',n_init=10,max_iter=300)
kmeans.fit(nutrients_matrix)
now = time.time()
print("It has been {0} seconds since the loop started".format(now - program_starts))
print(kmeans.inertia_)

It has been 98201.8580725193 seconds since the loop started

NameError: name 'i' is not defined

In [16]:
pd.DataFrame(kmeans.cluster_centers_).to_csv(nutrient_matrix_data_p + "10000_cluster_centers.csv")

In [25]:
nutrients_matrix.reset_index().merge(pd.DataFrame({"labels":kmeans.labels_}), left_index = True, right_index = True)[['fdc_id', 'labels']].to_csv(nutrient_matrix_data_p + "nutrients_pca_kmeans_labeled.csv")