# Hierarchical Clustering part 1: Cluster the nutrients matrix via kmeans

In [3]:
import numpy as np
import pandas as pd

from sklearn.cluster import AgglomerativeClustering

In [4]:
# csv paths
nutrient_matrix_data_p = r"../data/"

nutrient_matrix_csv_p = nutrient_matrix_data_p + "nutrients_matrix.csv.gz"

#### Import cleaned nutrient data. Set the fdc_id to the index. Remove zero rows.

In [5]:
#read data
nutrients_matrix = pd.read_csv(nutrient_matrix_csv_p)
#set ndb no as index
nutrients_matrix.set_index("fdc_id", inplace = True)
#create a list of indices where all entries are zero
nutrients_zero_rows = nutrients_matrix.loc[(nutrients_matrix==0).all(axis=1)].index
#filter out indicies where all entires are zero
nutrients_matrix = nutrients_matrix[~nutrients_matrix.index.isin(nutrients_zero_rows)]
print(nutrients_matrix.shape)
nutrients_matrix.head()

(1559107, 103)

,1003,1004,1005,1008,1079,1082,1084,1087,1089,1092,...,1099,1196,1316,1233,1112,1111,1273,1236,1080,1068
fdc_id,,,,,,,,,,,,,,,,,,,,,
344604,0.81,0.41,4.07,24.0,0.8,0.0,0.0,13.0,0.00,179.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
344605,0.81,0.41,4.07,24.0,0.8,0.0,0.0,16.0,0.00,179.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
344606,23.21,2.68,0.00,0.0,0.0,0.0,0.0,0.0,1.29,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
344607,23.21,2.68,0.00,0.0,0.0,0.0,0.0,0.0,1.29,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
344608,18.75,15.18,0.00,0.0,0.0,0.0,0.0,18.0,0.96,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Do Hierarchical clustering and save the linkage matrix
Uncomment if you need to make a new linkage matrix, but comment afterwards

In [16]:
agglo_cluster = AgglomerativeClustering(metric=metric, linkage = linkage).fit(nutrients_matrix)

In [17]:
linkage_matrix = agglo_cluster.children_
linkage_matrix

Export the linkage matrix to a numpy matrix

In [18]:
with open(fname, 'wb') as f:
    np.save(f,  linkage_matrix, fix_imports= False)