## Prompt and actions on Questions

* Look at `registrants` Table in postgres
* Consider home address as the location to start query from multiple locations.
* Secondly, search for locations in question from `prospective_business_description` column.

In [9]:
import arcgis
from arcgis.gis import GIS
from arcgis.geoenrichment import *
from arcgis.features import FeatureLayer, FeatureLayerCollection, GeoAccessor
import pandas as pd
import sys
sys.path.append('../../')
from utils import get_config

### Check if the user belongs to a Food desert

#### Check meal_gap or CalFresh data to check Food insecurity rate for some radius of area
* Map the meal gap data is at County level, not sure if it is really helpful for us.
* CalFresh Data might need to be standardized, but it is on zip level.

##### Can we query a geography within a certain radius of a location.

#### Check Food Swamp: Desnsity of fast food and Convenience Store

#### Does this have Highly Palatable Food.

#### e.g. Mexican Food business in Chula Vista and business type as Food Truck. (Business type data to be picked up from where? )

In [3]:
username = get_config("arcgis","username")
password = get_config("arcgis","passkey")

<configparser.ConfigParser object at 0x104ccb880>
<configparser.ConfigParser object at 0x12ac48be0>

In [2]:
gis = GIS("https://ucsdonline.maps.arcgis.com/home", username=username, password=password)

#### Render a map

In [6]:
m1 = gis.map("United States", zoomlevel=4)
m1

MapView(layout=Layout(height='400px', width='100%'))

In [10]:
# Let's use a sample feature layer available with us on US map. 
# Lets take farmers market which we can plot using symbol on basis of zip 
fl = FeatureLayer(gis=gis,
            url="https://services1.arcgis.com/eGSDp8lpKe5izqVc/arcgis/rest/services/a09656/FeatureServer/0")

df = GeoAccessor.from_layer(fl)
df

,FID,name,address,longitude,latitude,SHAPE
0,1,Colorado Farm and Art Market,"7350 Pine Creek Road, Colorado Springs, Colora...",-104.813284,38.937974,"{""x"": -11667761.399188498, ""y"": 4712790.752459..."
1,2,Market in The Park,"300 Conti, Mobile, Alabama 36602",-88.044585,30.690215,"{""x"": -9801078.355560867, ""y"": 3592582.7091098..."
2,3,The Territory Farmers' Market,"2000 Territory Drive, Galena, Illinois 61036",-90.317574,42.399287,"{""x"": -10054106.340682408, ""y"": 5220979.678882..."
3,4,City of Plymouth Farmers Market,"15500 County Road 6, Plymouth, Minnesota 55447",-93.47626,44.99638,"{""x"": -10405729.674340973, ""y"": 5620951.682596..."
4,5,Durham Farmers' Market,"501 Foster Street, Durham, North Carolina 27701",-78.901498,36.000645,"{""x"": -8783274.560550418, ""y"": 4300710.0709383..."
...,...,...,...,...,...,...
1051,1052,Bexley Farmers Market,"South Dawson Avenue & East Main Street, Bexley...",-82.93572,39.95714,"{""x"": -9232362.116269127, ""y"": 4859715.9343609..."
1052,1053,2nd Street Market,"600 East 2nd Street, Dayton, OH, USA",-84.180817,39.762778,"{""x"": -9370965.65404552, ""y"": 4831529.48735039..."
1053,1054,Farmers Market Centerville Texas,"114 E St Marys St, Centerville, TX, USA",-95.978552,31.258045,"{""x"": -10684283.583522432, ""y"": 3666306.799085..."
1054,1055,Downtown Beloit Farmers' Market - Winter,"557 E Grand Ave, Beloit, WI, USA",-89.031517,42.499645,"{""x"": -9910943.143985387, ""y"": 5236120.2130659..."
1055,1056,Galax Farmers Market,"206 North Main Street, Galax, VA, USA",-80.925411,36.663288,"{""x"": -9008575.500733461, ""y"": 4392276.8173528..."

In [11]:
df.spatial.plot(map_widget= m1)

True

In [12]:
from arcgis.features import FeatureLayer
fl = FeatureLayer("https://sampleserver6.arcgisonline.com/arcgis/rest/services/Census/MapServer/2")
county_sdf = fl.query("STATE_NAME='Washington'", out_sr=4326).sdf
county_sdf.head()

,Shape_Length,Shape_Area,OBJECTID,NAME,STATE_NAME,STATE_FIPS,CNTY_FIPS,FIPS,POP2000,POP2007,...,HSE_UNITS,VACANT,OWNER_OCC,RENTER_OCC,NO_FARMS97,AVG_SIZE97,CROP_ACR97,AVG_SALE97,SQMI,SHAPE
0,3.879553,0.590994,2953,Adams,Washington,53,001,53001,16428,17555,...,5773,544,3576,1653,628.0,1746.0,808651.0,321.45,1930.0,"{""rings"": [[[-119.36961802215399, 46.737285024..."
1,2.127905,0.193369,2954,Asotin,Washington,53,003,53003,20551,21237,...,9111,747,5612,2752,140.0,2175.0,87282.0,69.59,640.6,"{""rings"": [[[-117.48006100031489, 46.085736986..."
2,3.259149,0.531696,2955,Benton,Washington,53,005,53005,142475,164259,...,55963,3097,36344,16522,1078.0,568.0,440291.0,278.79,1760.0,"{""rings"": [[[-119.87687899986594, 46.562399986..."
3,6.259164,0.932106,2956,Chelan,Washington,53,007,53007,66616,71939,...,30407,5386,16178,8843,1113.0,111.0,41046.0,131.54,2993.7,"{""rings"": [[[-121.17981297788657, 47.896832976..."
4,5.62703,0.551224,2957,Clallam,Washington,53,009,53009,64525,70908,...,30683,3519,19757,7407,292.0,72.0,12116.0,20.58,1764.3,"{""rings"": [[[-124.73315299891175, 48.163761012..."

In [14]:
m9 = gis.map('Seattle, WA', zoomlevel=6)
m9

MapView(layout=Layout(height='400px', width='100%'))

In [17]:
from arcgis.mapping import show_styles
import time
for idx, style in show_styles('Polygon').iterrows():
    m9.remove_layers()
    time.sleep(0.5)
    
    print(f"{style['ESRI_STYLE']:22}\t{style['MARKER']}")
    county_sdf.spatial.plot(map_widget=m9,
                           renderer_type='s',
                           cmap = 'RdPu',  # use a red to purple color map
                           symbol_type='simple',
                           symbol_style=style['MARKER'],
                           outline_style='s',
                           outline_color=[0,0,0,255],
                           line_width=1.0)

Backward Diagonal     	\
Forward Diagonal      	/
Vertical Bar          	|
Horizontal Bar        	-
Diagonal Cross        	x
Cross                 	+
Solid Fill (default)  	s

In [23]:
m9.remove_layers()
county_sdf.spatial.plot(map_widget=m9,
                           renderer_type='s',
                           cmap = 'RdPu',  # use a red to purple color map
                           symbol_type='simple',
                           symbol_style='-',
                           outline_style='s',
                           outline_color=[0,0,0,255],
                           line_width=1.0)

True