# Initial investigation of clustering on the table Nutrients_Branded_Foods_2018

### Connecting to the postgresql server

In [66]:
import pandas as pd
import numpy as np
import sqlalchemy as sal
from sqlalchemy import text

SERVER : awesome.hw.sdsc.edu
Port : 5434
Database : nourish


user : gmichael

password : 567khcwx3s

In [3]:
engine = sal.create_engine('postgresql+psycopg2://gmichael:567khcwx3s@awesome-hw.sdsc.edu/nourish')
conn = engine.connect()

#### View all tables in the db

In [5]:
#all_tables_query = text('''SELECT * FROM pg_catalog.pg_tables''')
#result = conn.execute(all_tables_query)
#data = [i for i in result]
#data

### View the nutrients and products tables

In [21]:
qry_Nutrients_Limit1 = text('''SELECT * FROM "Nutrients_Branded_Foods_2018" Limit 1''')
result = conn.execute(qry_Nutrients_Limit1)
print(list(result.keys()))
data = [i for i in result]
data

['NDB_No', 'Nutrient_Code', 'Nutrient_name', 'Derivation_Code', 'Output_value', 'Output_uom']

[(45127487, 203, 'Protein', 'LCGA', Decimal('4.3'), 'g')]

In [22]:
qry_Products_45127487 = text('''SELECT * FROM "Products_Branded_Foods_2018"
WHERE "NDB_Number" = 45127487 ''')
result = conn.execute(qry_Products_45127487)
print(list(result.keys()))
data = [i for i in result]
data

['NDB_Number', 'long_name', 'data_source', 'gtin_upc', 'manufacturer', 'date_modified', 'date_available', 'ingredients_english']

[(45127487, 'KEEBLER MIXED COOKIES CHOCOLATE 3OZ', 'GDSN', Decimal('30100585541'), 'Kellogg Company US', '2017-02-07 04:04:51', '2017-02-07 05:00:51', 'ENRICHED FLOUR (WHEAT FLOUR, NIACIN, REDUCED IRON,  THIAMIN MONONITRATE  [VITAMIN B1], RIBOFLAVIN  [VITAMIN B2], FOLIC ACID), SUGAR, VEGETABLE OIL (H ... (295 characters truncated) ... ING SODA, SODIUM ACID PYROPHOSPHATE, MONOCALCIUM PHOSPHATE) , NATURAL AND ARTIFICIAL FLAVORS, POLYSORBATE 60, SORBITAN MONOSTEARATE, MOLASSES, DATEM.')]

### Pull the foods with their list of nutrients

In [50]:
#query_NdbList = text('''SELECT "NDB_No", array_agg("Nutrient_name"||':'||"Output_value" order by "Nutrient_name")
#from "Nutrients_Branded_Foods_2018"
#group by "NDB_No"''')
query_NdbList = text('''SELECT "NDB_No", "Nutrient_name", "Output_value" 
from "Nutrients_Branded_Foods_2018"
order by "NDB_No" ''')
result = conn.execute(query_NdbList)

In [51]:
data = [i for i in result]

In [52]:
len(data)

999999

In [53]:
data[0]

(45001846, 'Protein', Decimal('7.5'))

In [54]:
nutrients = pd.DataFrame(data)

In [55]:
nutrients.head()

     NDB_No                Nutrient_name Output_value
0  45001846                      Protein          7.5
1  45001846            Total lipid (fat)         42.5
2  45001846  Carbohydrate, by difference         47.5
3  45001846                       Energy          600
4  45001846                Sugars, total           40

In [58]:
nutrients.columns

Index(['NDB_No', 'Nutrient_name', 'Output_value'], dtype='object')

In [56]:
nutrients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999999 entries, 0 to 999998
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   NDB_No         999999 non-null  int64
 1   Nutrient_name  999999 non-null  object
 2   Output_value   999999 non-null  object
dtypes: int64(1), object(2)
memory usage: 22.9+ MB

In [70]:
nutrients_pivot = pd.pivot_table(nutrients, index = "NDB_No", columns = "Nutrient_name", values = "Output_value", 
                                fill_value=None)

In [75]:
#pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10
Note: you may need to restart the kernel to use updated packages.

In [76]:
nutrients_pivot.describe().T.to_excel('nutrient_breakdown.xlsx')

In [28]:
query_NutrientsUnits = text('''SELECT DISTINCT "Nutrient_name", "Output_uom"
from "Nutrients_Branded_Foods_2018"
order by "Nutrient_name"''')
result = conn.execute(query_NutrientsUnits)
data = [i for i in result]
data