# Initial investigation of clustering on the table Nutrients_Branded_Foods_2018

### Connecting to the postgresql server

In [1]:
import pandas as pd
import numpy as np
import sqlalchemy as sal
from sqlalchemy import text

SERVER : awesome.hw.sdsc.edu
Port : 5434
Database : nourish


user : gmichael

password : 567khcwx3s

In [2]:
engine = sal.create_engine('postgresql+psycopg2://gmichael:567khcwx3s@awesome-hw.sdsc.edu/nourish')
conn = engine.connect()

#### View all tables in the db

In [3]:
#all_tables_query = text('''SELECT * FROM pg_catalog.pg_tables''')
#result = conn.execute(all_tables_query)
#data = [i for i in result]
#data

[('public', 'Food_Access_Research_Atlas_Data_2019_Data_Dictionary', 'amarnath', None, False, False, False, False),
 ('public', 'Food_Environment_Atlas_Data_Dictionary', 'amarnath', None, False, False, False, False),
 ('public', 'Food_Environment_Atlas_State_County', 'amarnath', None, False, False, False, False),
 ('public', 'ca_farms', 'amarnath', None, False, False, False, False),
 ('pg_catalog', 'pg_statistic', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_type', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_foreign_server', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_authid', 'postgres', 'pg_global', True, False, False, False),
 ('public', 'Map_the_Meal_Gap_Data_Dictionary_1', 'amarnath', None, False, False, False, False),
 ('public', 'Nutrients_Branded_Foods_2018', 'amarnath', None, True, False, False, False),
 ('pg_catalog', 'pg_statistic_ext_data', 'postgres', None, True, False, False, False),
 ('public', 'ca_farms_2', 'postgres', None, False, False, False, False),
 ('public', 'ca_business', 'amarnath', None, True, False, False, False),
 ('pg_catalog', 'pg_user_mapping', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_subscription', 'postgres', 'pg_global', True, False, False, False),
 ('public', 'uscities', 'amarnath', None, False, False, False, False),
 ('pg_catalog', 'pg_attribute', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_proc', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_class', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_attrdef', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_constraint', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_inherits', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_index', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_operator', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_opfamily', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_opclass', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_am', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_amop', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_amproc', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_language', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_largeobject_metadata', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_aggregate', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_largeobject', 'postgres', None, True, False, False, False),
 ('public', 'product_ingredients_2018', 'amarnath', None, False, False, False, False),
 ('pg_catalog', 'pg_statistic_ext', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_rewrite', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_trigger', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_event_trigger', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_description', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_cast', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_enum', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_namespace', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_conversion', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_depend', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_database', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_db_role_setting', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_tablespace', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_pltemplate', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_auth_members', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_shdepend', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_shdescription', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_ts_config', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_ts_config_map', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_ts_dict', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_ts_parser', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_ts_template', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_extension', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_foreign_data_wrapper', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_foreign_table', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_policy', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_replication_origin', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_default_acl', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_init_privs', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_seclabel', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_shseclabel', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_collation', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_partitioned_table', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_range', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_transform', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_sequence', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_publication', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_publication_rel', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_subscription_rel', 'postgres', None, True, False, False, False),
 ('information_schema', 'sql_packages', 'postgres', None, False, False, False, False),
 ('information_schema', 'sql_features', 'postgres', None, False, False, False, False),
 ('information_schema', 'sql_implementation_info', 'postgres', None, False, False, False, False),
 ('information_schema', 'sql_parts', 'postgres', None, False, False, False, False),
 ('information_schema', 'sql_languages', 'postgres', None, False, False, False, False),
 ('information_schema', 'sql_sizing', 'postgres', None, False, False, False, False),
 ('information_schema', 'sql_sizing_profiles', 'postgres', None, False, False, False, False),
 ('tiger', 'county_lookup', 'postgres', None, True, False, False, False),
 ('tiger', 'countysub_lookup', 'postgres', None, True, False, False, False),
 ('tiger', 'direction_lookup', 'postgres', None, True, False, False, False),
 ('tiger', 'county', 'postgres', None, True, False, False, False),
 ('tiger', 'cousub', 'postgres', None, True, False, False, False),
 ('tiger', 'place', 'postgres', None, True, False, False, False),
 ('tiger', 'addr', 'postgres', None, True, False, False, False),
 ('tiger', 'addrfeat', 'postgres', None, True, False, False, False),
 ('tiger', 'faces', 'postgres', None, True, False, False, False),
 ('tiger', 'loader_lookuptables', 'postgres', None, True, False, False, False),
 ('tiger', 'loader_platform', 'postgres', None, True, False, False, False),
 ('tiger', 'loader_variables', 'postgres', None, True, False, False, False),
 ('tiger', 'tabblock20', 'postgres', None, True, False, False, False),
 ('tiger', 'tract', 'postgres', None, True, False, False, False),
 ('tiger', 'zcta5', 'postgres', None, True, False, False, False),
 ('public', '2022_NAICS_Descriptions', 'amarnath', None, False, False, False, False),
 ('public', 'FNDDS Foods and Beverages 2019-2020', 'amarnath', None, False, False, False, False),
 ('public', 'FNDDS Ingredient Nutrient Values 2019-2020', 'amarnath', None, False, False, False, False),
 ('public', 'FNDDS Nutrient Values 2019-2020', 'amarnath', None, False, False, False, False),
 ('public', 'FNDDS Ingredients 2019-2020 ', 'amarnath', None, False, False, False, False),
 ('public', 'FNDDS Portions and Weights 2019-2020', 'amarnath', None, False, False, False, False),
 ('public', 'statisticalatlas', 'amarnath', None, False, False, False, False),
 ('public', 'Food_Access_Research_Atlas_Data_2019', 'amarnath', None, False, False, False, False),
 ('public', 'Food_Environment_Atlas_County_Supplemental', 'amarnath', None, False, False, False, False),
 ('public', 'Map_the-Meal_Gap_2022_2020-2019', 'amarnath', None, False, False, False, False),
 ('public', 'hpf_component', 'postgres', None, False, False, False, False),
 ('public', 'Nutrients_for_HPF', 'postgres', None, False, False, False, False),
 ('public', 'Map_the_Meal_Gap_Data_Dictionary', 'amarnath', None, False, False, False, False),
 ('public', 'Nonprofit_NTEE_Codes', 'amarnath', None, False, False, False, False),
 ('public', 'Products_Branded_Foods_2018', 'amarnath', None, True, False, False, False),
 ('public', 'Serving_size_Branded_Foods_2018', 'amarnath', None, True, False, False, False),
 ('public', 'USDA_Nutrition', 'amarnath', None, True, False, False, False),
 ('public', 'ca_nonprofits', 'amarnath', None, False, False, False, False),
 ('public', 'city_neighborhoods', 'amarnath', None, True, False, False, False),
 ('public', 'community_neighborhoods', 'amarnath', None, True, False, False, False),
 ('public', 'county_neighborhoods', 'amarnath', None, True, False, False, False),
 ('public', 'spatial_ref_sys', 'postgres', None, True, False, False, False),
 ('public', 'state_neighborhoods', 'amarnath', None, True, False, False, False),
 ('public', 'stop_words_english', 'amarnath', None, False, False, False, False),
 ('public', 'us_gaz', 'postgres', None, True, False, False, False),
 ('public', 'us_lex', 'postgres', None, True, False, False, False),
 ('public', 'us_rules', 'postgres', None, True, False, False, False),
 ('tiger', 'bg', 'postgres', None, True, False, False, False),
 ('tiger', 'edges', 'postgres', None, True, False, False, False),
 ('tiger', 'featnames', 'postgres', None, True, False, False, False),
 ('tiger', 'geocode_settings', 'postgres', None, True, False, False, False),
 ('tiger', 'geocode_settings_default', 'postgres', None, True, False, False, False),
 ('tiger', 'mytable', 'postgres', None, True, False, False, False),
 ('tiger', 'pagc_gaz', 'postgres', None, True, False, False, False),
 ('tiger', 'pagc_lex', 'postgres', None, True, False, False, False),
 ('tiger', 'pagc_rules', 'postgres', None, True, False, False, False),
 ('tiger', 'place_lookup', 'postgres', None, True, False, False, False),
 ('tiger', 'secondary_unit_lookup', 'postgres', None, True, False, False, False),
 ('tiger', 'state', 'postgres', None, True, False, False, False),
 ('tiger', 'state_lookup', 'postgres', None, True, False, False, False),
 ('tiger', 'street_type_lookup', 'postgres', None, True, False, False, False),
 ('tiger', 'tabblock', 'postgres', None, True, False, False, False),
 ('tiger', 'zip_lookup', 'postgres', None, True, False, False, False),
 ('tiger', 'zip_lookup_all', 'postgres', None, False, False, False, False),
 ('tiger', 'zip_lookup_base', 'postgres', None, True, False, False, False),
 ('tiger', 'zip_state', 'postgres', None, True, False, False, False),
 ('tiger', 'zip_state_loc', 'postgres', None, True, False, False, False),
 ('topology', 'layer', 'postgres', None, True, False, True, False),
 ('topology', 'topology', 'postgres', None, True, False, True, False),
 ('public', 'Airbnb_reviews', 'ag_class', None, True, False, False, False)]

### View the nutrients and products tables

In [4]:
qry_Nutrients_Limit1 = text('''SELECT * FROM "Nutrients_Branded_Foods_2018" Limit 1''')
result = conn.execute(qry_Nutrients_Limit1)
print(list(result.keys()))
data = [i for i in result]
data

ProgrammingError: (psycopg2.errors.InsufficientPrivilege) permission denied for table Nutrients_Branded_Foods_2018

[SQL: SELECT * FROM "Nutrients_Branded_Foods_2018" Limit 1]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [5]:
qry_Products_45127487 = text('''SELECT * FROM "Products_Branded_Foods_2018"
WHERE "NDB_Number" = 45127487 ''')
result = conn.execute(qry_Products_45127487)
print(list(result.keys()))
data = [i for i in result]
data

['NDB_Number', 'long_name', 'data_source', 'gtin_upc', 'manufacturer', 'date_modified', 'date_available', 'ingredients_english']

[(45127487, 'KEEBLER MIXED COOKIES CHOCOLATE 3OZ', 'GDSN', Decimal('30100585541'), 'Kellogg Company US', '2017-02-07 04:04:51', '2017-02-07 05:00:51', 'ENRICHED FLOUR (WHEAT FLOUR, NIACIN, REDUCED IRON,  THIAMIN MONONITRATE  [VITAMIN B1], RIBOFLAVIN  [VITAMIN B2], FOLIC ACID), SUGAR, VEGETABLE OIL (H ... (295 characters truncated) ... ING SODA, SODIUM ACID PYROPHOSPHATE, MONOCALCIUM PHOSPHATE) , NATURAL AND ARTIFICIAL FLAVORS, POLYSORBATE 60, SORBITAN MONOSTEARATE, MOLASSES, DATEM.')]

### Pull the foods with their list of nutrients

In [6]:
#query_NdbList = text('''SELECT "NDB_No", array_agg("Nutrient_name"||':'||"Output_value" order by "Nutrient_name")
#from "Nutrients_Branded_Foods_2018"
#group by "NDB_No"''')
query_NdbList = text('''SELECT "NDB_No", "Nutrient_name", "Output_value" 
from "Nutrients_Branded_Foods_2018"
order by "NDB_No" ''')
result = conn.execute(query_NdbList)

ProgrammingError: (psycopg2.errors.InsufficientPrivilege) permission denied for table Nutrients_Branded_Foods_2018

[SQL: SELECT "NDB_No", "Nutrient_name", "Output_value"
from "Nutrients_Branded_Foods_2018"
order by "NDB_No" ]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [51]:
data = [i for i in result]

In [52]:
len(data)

999999

In [53]:
data[0]

(45001846, 'Protein', Decimal('7.5'))

In [54]:
nutrients = pd.DataFrame(data)

In [55]:
nutrients.head()

     NDB_No                Nutrient_name Output_value
0  45001846                      Protein          7.5
1  45001846            Total lipid (fat)         42.5
2  45001846  Carbohydrate, by difference         47.5
3  45001846                       Energy          600
4  45001846                Sugars, total           40

In [58]:
nutrients.columns

Index(['NDB_No', 'Nutrient_name', 'Output_value'], dtype='object')

In [56]:
nutrients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999999 entries, 0 to 999998
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   NDB_No         999999 non-null  int64
 1   Nutrient_name  999999 non-null  object
 2   Output_value   999999 non-null  object
dtypes: int64(1), object(2)
memory usage: 22.9+ MB

In [70]:
nutrients_pivot = pd.pivot_table(nutrients, index = "NDB_No", columns = "Nutrient_name", values = "Output_value", 
                                fill_value=None)

In [75]:
#pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10
Note: you may need to restart the kernel to use updated packages.

In [76]:
nutrients_pivot.describe().T.to_excel('nutrient_breakdown.xlsx')

In [28]:
query_NutrientsUnits = text('''SELECT DISTINCT "Nutrient_name", "Output_uom"
from "Nutrients_Branded_Foods_2018"
order by "Nutrient_name"''')
result = conn.execute(query_NutrientsUnits)
data = [i for i in result]
data

### If the database is down, you can import the file locally
Must download the file from https://data.nal.usda.gov/dataset/usda-branded-food-products-database

In [5]:
nutrients = pd.read_csv(r"../../data/Nutrients.csv", usecols= ["NDB_No", "Nutrient_name", "Output_value"])
products = pd.read_csv(r"../../data/Products.csv", usecols= ["NDB_Number", "long_name", "ingredients_english"])

In [43]:
products

,NDB_Number,long_name,ingredients_english
0,45001524,MOCHI ICE CREAM BONBONS,"ICE CREAM INGREDIENTS: MILK, CREAM, SUGAR, STR..."
1,45001528,CHIPOTLE BARBECUE SAUCE,"WATER, SUGAR, TOMATO PASTE, MOLASSES, DISTILLE..."
2,45001529,HOT & SPICY BARBECUE SAUCE,"SUGAR, WATER, DISTILLED VINEGAR, TOMATO PASTE,..."
3,45001530,BARBECUE SAUCE,"TOMATO PUREE (WATER, TOMATO PASTE), SUGAR, DIS..."
4,45001531,BARBECUE SAUCE,"SUGAR, DISTILLED VINEGAR, WATER, TOMATO PASTE,..."
...,...,...,...
239084,45376427,Food Should Taste Good Black Bean Multigrain B...,"BLACK BEANS*, STONE GROUND CORN, HIGH OLEIC SU..."
239085,45376428,"Diet Cherry Coke Can, 12 fl oz","INGREDIENTS: CARBONATED WATER, CARAMEL COLOR, ..."
239086,45376429,Betty Crocker Hot Fudge Brownie Mug Treats 12 ...,"SUGAR, FUDGE TOPPING (SUGAR, SWEETENED CONDENS..."
239087,45376430,"McCafe Frappe Vanilla Coffee Bottle, 13.7 fl oz","INGREDIENTS: COFFEE (WATER, COFFEE), MILK, SUG..."
239088,45376431,"McCafe Frappe Mocha Coffee Bottle, 13.7 fl oz","INGREDIENTS: COFFEE (WATER, COFFEE), MILK, SUG..."

In [7]:
nutrients.head(3)

     NDB_No                Nutrient_name  Output_value
0  45127487                      Protein           4.3
1  45127487            Total lipid (fat)          18.9
2  45127487  Carbohydrate, by difference          72.8

In [8]:
nutrients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3231488 entries, 0 to 3231487
Data columns (total 3 columns):
 #   Column         Dtype
---  ------         -----
 0   NDB_No         int64
 1   Nutrient_name  object
 2   Output_value   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 74.0+ MB

In [9]:
#convert categorical to make pivoting faster
nutrients["Nutrient_name"] = nutrients["Nutrient_name"].astype("category")

In [10]:
nutrients.head(3)

     NDB_No                Nutrient_name  Output_value
0  45127487                      Protein           4.3
1  45127487            Total lipid (fat)          18.9
2  45127487  Carbohydrate, by difference          72.8

In [11]:
nutrients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3231488 entries, 0 to 3231487
Data columns (total 3 columns):
 #   Column         Dtype
---  ------         -----
 0   NDB_No         int64
 1   Nutrient_name  category
 2   Output_value   float64
dtypes: category(1), float64(1), int64(1)
memory usage: 52.4 MB

#### Before pivoting this data, it's important to note there are a few duplicate counts for product / nutrient

In [12]:
counts = nutrients.groupby(by = ["NDB_No", "Nutrient_name"], as_index = False).count()

In [13]:
over_counted_nutrients = counts[counts['Output_value']>1].copy(deep = True)
over_counted_nutrients.rename(columns = {"Output_value": "Count_of_Output_value"}, inplace = True)
over_counted_nutrients

            NDB_No Nutrient_name  Count_of_Output_value
3910331   45095515        Energy                      2
7339545   45162398        Energy                      2
9451631   45189128        Energy                      2
14849863  45262237        Energy                      2
19535199  45343319        Energy                      2
21169201  45360957        Energy                      2

Filter out the over counted nutrients

In [14]:
nutrients = nutrients[~nutrients["NDB_No"].isin(over_counted_nutrients["NDB_No"])]

In [15]:
nutrients_pivot = nutrients.pivot_table(index="NDB_No", columns = "Nutrient_name",
                    fill_value = 0,
                    values = "Output_value",
                    aggfunc ={"Output_value": np.min})

In [16]:
nutrients_pivot = nutrients.pivot(index="NDB_No", columns = "Nutrient_name",
                    values = "Output_value")
nutrients_pivot.fillna(0, inplace = True)

In [17]:
nutrients_pivot.shape

(237831, 94)

In [18]:
nutrients_pivot.head(3)

Nutrient_name,10:0,12:0,"18:2 n-6 c,c",18:2 undifferentiated,"18:3 n-3 c,c,c (ALA)",8:0,Alanine,"Alcohol, ethyl",Arginine,Ash,...,Vitamin D,Vitamin D (D2 + D3),Vitamin D3 (cholecalciferol),Vitamin E,Vitamin E (alpha-tocopherol),Vitamin E (label entry primarily),Vitamin K (phylloquinone),Water,Xylitol,"Zinc, Zn"
NDB_No,,,,,,,,,,,,,,,,,,,,,
45001524,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45001528,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45001529,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
#print(nutrients_pivot.sum().to_string(float_format='{:.0f}'.format))

## Apply DBSCAN Algorithm

In [20]:
from sklearn.cluster import DBSCAN
dbscan = DBSCAN(eps = 3, min_samples = 4)

In [21]:
model = dbscan.fit(nutrients_pivot)

In [22]:
labels = model.labels_
print(np.unique(labels))

[  -1    0    1 ... 7109 7110 7111]

In [23]:
unique, counts = np.unique(labels, return_counts=True)
print(np.asarray((unique, counts)).T)

[[    -1 162839]
 [     0     50]
 [     1    147]
 ...
 [  7109      4]
 [  7110     10]
 [  7111      4]]

In [39]:
labeled_nutrients = pd.DataFrame({"NDB_No": nutrients_pivot.index, "DBSCAN_Label": labels})
labeled_nutrients.head(3)

     NDB_No  DBSCAN_Label
0  45001524            -1
1  45001528            -1
2  45001529            -1

In [40]:
products.columns

Index(['NDB_Number', 'long_name', 'ingredients_english'], dtype='object')

In [41]:
labeled_nutrients = labeled_nutrients.merge(products, left_on = "NDB_No", right_on = "NDB_Number", sort = True)
labeled_nutrients.drop(columns = ["NDB_Number"], inplace = True)
labeled_nutrients.head(3)

,NDB_No,DBSCAN_Label,long_name,ingredients_english
0,45001524,-1,MOCHI ICE CREAM BONBONS,"ICE CREAM INGREDIENTS: MILK, CREAM, SUGAR, STR..."
1,45001528,-1,CHIPOTLE BARBECUE SAUCE,"WATER, SUGAR, TOMATO PASTE, MOLASSES, DISTILLE..."
2,45001529,-1,HOT & SPICY BARBECUE SAUCE,"SUGAR, WATER, DISTILLED VINEGAR, TOMATO PASTE,..."

In [45]:
non_noise_labeled_nutrients = labeled_nutrients[labeled_nutrients["DBSCAN_Label"]!=-1].copy(deep = True)
non_noise_labeled_nutrients.sort_values(by = "DBSCAN_Label", inplace = True)
non_noise_labeled_nutrients.to_excel("DBSCAN_non_noise_labeled_nutrients.xlsx", index = False)
non_noise_labeled_nutrients

,NDB_No,DBSCAN_Label,long_name,ingredients_english
56534,45134202,0,GULDENS Spicy Brown Mustard,"Vinegar, Water, Mustard Seed, Salt, Less than ..."
142126,45236209,0,HOT SAUCE PIMENT CHO,"CAPSICUM VARIETY OF HOT PEPPERS, VINEGAR, SALT..."
35762,45084376,0,"WOODSTOCK, ORGANIC YELLOW MUSTARD","ORGANIC GRAIN VINEGAR, WATER, ORGANIC MUSTARD ..."
55991,45130516,0,GULDENS Spicy Brown Mustard,"Vinegar, Water, Mustard Seed, Salt, Less than ..."
126591,45218074,0,ORGANIC YELLOW MUSTARD,"ORGANIC GRAIN VINEGAR, WATER, ORGANIC MUSTARD ..."
...,...,...,...,...
237656,45375080,7110,"Gold Peak Sweetened Green Tea Bottle, 18.5 fl oz","INGREDIENTS: TEA (FILTERED WATER, BREWED TEA C..."
237695,45375119,7111,"Gold Peak Unsweetened Black Tea Bottle, 18.5 f...","TEA (FILTERED WATER, BREWED TEA CONCENTRATE), ..."
237702,45375126,7111,"Gold Peak Diet Green Tea Bottle, 64 fl oz","INGREDIENTS: TEA (FILTERED WATER, BREWED TEA C..."
237744,45375168,7111,"Gold Peak Diet Green Tea Bottle, 18.5 fl oz","INGREDIENTS: TEA (FILTERED WATER, BREWED TEA C..."
237616,45375040,7111,"Gold Peak Unsweetened Lemon Tea Bottle, 52 fl oz","TEA (FILTERED WATER, BREWED TEA CONCENTRATE), ..."