In [5]:
import arcgis
from arcgis.gis import GIS
from arcgis.geoenrichment import *
import pandas as pd
import sys
sys.path.append('../')
from utils import get_config

In [6]:
app_id = get_config("arcgis","clientid")
gis = GIS("https://ucsdonline.maps.arcgis.com/home", client_id=app_id)

<configparser.ConfigParser object at 0x141ac3a90>
Please sign in to your GIS and paste the code that is obtained below.
If a web browser does not automatically open, please navigate to the URL below yourself instead.
Opening web browser to navigate to: https://ucsdonline.maps.arcgis.com/sharing/rest/oauth2/authorize?response_type=code&client_id=Elm5V3upnnV17Q3r&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&state=VFTtM60HgFq9jrOTddJr4mOkD2Zflk&allow_verification=false

Enter code obtained on signing in using SAML:  ········

/Users/amolkale/Documents/DSE/DSE260-Capstone-Project/capstone/venv3.9/lib/python3.9/site-packages/urllib3/connectionpool.py:1045: InsecureRequestWarning: Unverified HTTPS request is being made to host 'ucsdonline.maps.arcgis.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

In [7]:
usa = Country("usa", gis=gis)

In [8]:
enrich_variables = usa.enrich_variables
print(f"Total Enrichment Variables: {len(enrich_variables)}")
print(f"Unique Data Collection: {enrich_variables['data_collection'].unique().size}")
print(f"Sample Data: ")
display(enrich_variables.head(3))

Total Enrichment Variables: 19015
Unique Data Collection: 115
Sample Data:

,name,alias,data_collection,enrich_name,enrich_field_name,description,vintage,units
0,AGE0_CY,2022 Population Age <1,1yearincrements,1yearincrements.AGE0_CY,F1yearincrements_AGE0_CY,2022 Total Population Age <1 (Esri),2022,count
1,AGE1_CY,2022 Population Age 1,1yearincrements,1yearincrements.AGE1_CY,F1yearincrements_AGE1_CY,2022 Total Population Age 1 (Esri),2022,count
2,AGE2_CY,2022 Population Age 2,1yearincrements,1yearincrements.AGE2_CY,F1yearincrements_AGE2_CY,2022 Total Population Age 2 (Esri),2022,count

In [9]:
test_variable = 'X1010_A'

In [10]:
df_snippet = enrich_variables[enrich_variables['name'].str.contains(test_variable)]
df_snippet

,name,alias,data_collection,enrich_name,enrich_field_name,description,vintage,units
6092,X1010_A,2022 Avg: Bread,food,food.X1010_A,food_X1010_A,2022 Bread: Average,2022,currency

In [11]:
df_snippet['description']

6092    2022 Bread: Average
Name: description, dtype: object

In [12]:
pd.set_option('display.max_colwidth', None)

Saving the food consumer spending variables for our reference

In [19]:
food_consumer_spending_vars = enrich_variables[enrich_variables['data_collection']=='food']
print(f"Shape of food_consumer_spending_vars: {food_consumer_spending_vars.shape}")
food_consumer_spending_vars.head(4)

Shape of food_consumer_spending_vars: (1014, 8)

,name,alias,data_collection,enrich_name,enrich_field_name,description,vintage,units
5953,X2001_X,2022 Alcoholic Bevs,food,food.X2001_X,food_X2001_X,2022 Alcoholic Beverages,2022,currency
5954,X2001_A,2022 Avg: Alcoholic Bevs,food,food.X2001_A,food_X2001_A,2022 Alcoholic Beverages: Average,2022,currency
5955,X2001_I,2022 Index: Alcoholic Bevs,food,food.X2001_I,food_X2001_I,2022 Alcoholic Beverages: Index,2022,count
5956,X2002_X,2022 Alcoholic Bevs at Home,food,food.X2002_X,food_X2002_X,2022 Alcoholic Beverages at Home,2022,currency

In [18]:
food_consumer_spending_vars.to_csv('../resources/food_consumer_spending_vars.csv',index=False)