In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

#### Import the data cleaned in another notebook. Set the NDB Number to the index.

In [2]:
nutrients_matrix = pd.read_csv(r"../../data/Nutrients_Branded_Foods_2018/Matrix_Nutrients_Branded_Foods_2018.csv.gz")
print(nutrients_matrix.shape)
nutrients_matrix.set_index("NDB_No", inplace = True)
nutrients_matrix.head()

(237837, 95)

,"Calcium, Ca","Carbohydrate, by difference",Cholesterol,Energy,"Fatty acids, total saturated","Fatty acids, total trans","Fiber, total dietary","Iron, Fe",Protein,"Sodium, Na",...,18:2 undifferentiated,Glucose (dextrose),Starch,Lutein + zeaxanthin,"Fluoride, F","18:2 n-6 c,c","Choline, from phosphotidyl choline","18:3 n-3 c,c,c (ALA)",Epigallocatechin-3-gallate,Vitamin D3 (cholecalciferol)
NDB_No,,,,,,,,,,,,,,,,,,,,,
45001524,50.0,35.00,25.0,200.0,3.75,0.0,0.0,0.0,2.5,75.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45001528,0.0,43.24,0.0,162.0,0.00,0.0,0.0,0.0,0.0,703.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45001529,0.0,41.18,0.0,176.0,0.00,0.0,0.0,0.0,0.0,676.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45001530,0.0,34.29,0.0,143.0,0.00,0.0,0.0,0.0,0.0,971.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45001531,0.0,45.95,0.0,189.0,0.00,0.0,0.0,0.0,0.0,757.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Create two scaled version of the data: MinMax and Standard

In [3]:
min_max_scaler = MinMaxScaler()
min_max_scaler.fit(nutrients_matrix)
nutrients_min_max_scaled = min_max_scaler.transform(nutrients_matrix)

In [4]:
standard_scaler = StandardScaler()
standard_scaler.fit(nutrients_matrix)
nutrients_standard_scaled = standard_scaler.transform(nutrients_matrix)

#### Do PCA on all datasets

In [5]:
pca = PCA(svd_solver = 'full')
pca.fit(nutrients_matrix)
nutrients_pca = pca.transform(nutrients_matrix)
nutrients_pca = pd.DataFrame(nutrients_pca, index = nutrients_matrix.index)
nutrients_pca.head()

,0,1,2,3,4,5,6,7,8,9,...,84,85,86,87,88,89,90,91,92,93
NDB_No,,,,,,,,,,,,,,,,,,,,,
45001524,-358.229759,-276.986791,-182.634904,-27.257391,-632.575069,-330.220240,0.079762,-64.538285,-27.504604,-0.629897,...,5.498768e-11,-5.155200e-11,1.260884e-10,1.190415e-16,2.465626e-17,1.479733e-16,2.213791e-17,2.911968e-17,-2.716829e-19,4.934352e-19
45001528,-358.231096,-276.985672,-182.630367,-20.784486,7.123112,-89.682082,-30.914407,-67.191619,-79.464316,-0.672517,...,-7.928503e-10,-1.242304e-10,-1.683005e-10,8.169075e-17,-1.349410e-17,-3.459281e-17,-7.794116e-19,1.544806e-16,-3.856088e-19,-4.601894e-20
45001529,-358.229760,-276.989482,-182.640921,-21.049718,-32.373878,-358.192278,-30.590019,-65.922739,-77.687882,-0.579045,...,-1.589097e-09,-1.127273e-09,-3.667382e-10,-2.365226e-16,6.346801e-18,4.231101e-17,4.451864e-18,1.012462e-16,-3.524687e-19,1.410695e-19
45001530,-358.229793,-276.990895,-182.643775,-18.001548,262.490963,-371.734896,-33.329023,-65.909368,-78.196550,-0.619640,...,-2.419956e-09,-1.226977e-09,-6.075229e-10,-2.417539e-16,1.302820e-17,6.510636e-17,9.845770e-18,6.240469e-17,-2.609891e-19,1.946972e-19
45001531,-358.229758,-276.989815,-182.641619,-20.214383,48.441966,-361.946283,-31.291312,-65.876229,-77.426177,-0.554407,...,-2.922744e-10,-4.805686e-11,-2.552036e-10,1.350606e-16,-9.089528e-18,-3.593451e-17,-8.002909e-18,1.529085e-16,-3.850794e-19,-6.359487e-20

In [6]:
pca = PCA(svd_solver = 'full')
pca.fit(nutrients_min_max_scaled)
nutrients_min_max_scaled_pca = pca.transform(nutrients_min_max_scaled)
nutrients_min_max_scaled_pca = pd.DataFrame(nutrients_min_max_scaled_pca, index = nutrients_matrix.index)
nutrients_min_max_scaled_pca.head()

,0,1,2,3,4,5,6,7,8,9,...,84,85,86,87,88,89,90,91,92,93
NDB_No,,,,,,,,,,,,,,,,,,,,,
45001524,0.089476,-0.073159,0.115016,-0.010595,-0.023487,0.005746,0.007571,-0.001250,0.002258,-0.003821,...,1.429591e-11,1.181509e-11,2.906991e-11,4.028754e-19,2.554558e-20,-8.541633e-21,4.588094e-20,-2.416175e-21,-9.074472e-21,1.447409e-18
45001528,0.202965,-0.143760,0.133676,-0.028313,-0.028881,-0.013643,-0.002431,-0.002244,0.005311,-0.004804,...,-1.682451e-10,4.606015e-11,-1.853646e-11,5.655057e-19,4.079217e-20,-2.612402e-21,3.169313e-20,6.583550e-21,6.664065e-22,2.209057e-19
45001529,0.172633,-0.142605,0.123067,-0.029844,-0.026854,-0.011274,-0.002760,-0.002561,0.005281,-0.006059,...,-4.293085e-10,-2.847833e-11,5.545955e-11,5.180719e-19,4.502734e-20,-1.150625e-20,2.174050e-20,4.413028e-21,2.417157e-20,1.122149e-18
45001530,0.078219,-0.147424,0.103767,-0.035021,-0.021797,-0.005793,-0.002040,-0.001965,0.003746,-0.005026,...,-6.065172e-10,1.410843e-11,1.950501e-11,3.215602e-19,2.385151e-20,-4.729985e-21,2.788149e-20,3.142479e-21,4.901571e-21,1.122149e-18
45001531,0.255032,-0.141242,0.163615,-0.022179,-0.033017,-0.019619,-0.004486,-0.002402,0.006676,-0.004591,...,-7.435518e-11,-3.032605e-11,-3.934091e-11,6.129396e-19,4.841547e-20,-2.188886e-21,2.343456e-20,2.824842e-21,1.337190e-20,1.196688e-18

In [7]:
pca = PCA(svd_solver = 'full')
pca.fit(nutrients_standard_scaled)
nutrients_standard_scaled_pca = pca.transform(nutrients_standard_scaled)
nutrients_standard_scaled_pca = pd.DataFrame(nutrients_standard_scaled_pca, index = nutrients_matrix.index)
nutrients_standard_scaled_pca.head()

,0,1,2,3,4,5,6,7,8,9,...,84,85,86,87,88,89,90,91,92,93
NDB_No,,,,,,,,,,,,,,,,,,,,,
45001524,-0.048852,-0.686970,0.080519,0.109869,0.004574,0.007792,-0.485280,-0.010095,0.297110,0.187820,...,2.716397e-09,1.575041e-09,4.466279e-09,5.571284e-17,1.833227e-17,-4.076110e-17,-2.770771e-17,5.938235e-17,-2.207200e-17,-2.404888e-17
45001528,-0.054872,-1.173288,0.175739,-0.001140,0.193107,0.011886,-0.932051,0.032591,0.284071,0.186221,...,-2.499771e-08,9.913653e-09,-3.024634e-09,1.910213e-16,1.833227e-17,-7.801357e-18,-2.485490e-17,7.599436e-17,-2.298002e-17,-4.827741e-17
45001529,-0.054473,-1.156627,0.169737,0.019116,0.168720,0.015708,-0.843874,0.017057,0.268033,0.184941,...,-6.863005e-08,2.454198e-09,8.664479e-09,1.676025e-16,8.357613e-18,-2.597187e-18,-1.783469e-17,5.917568e-17,-1.756579e-17,-3.309180e-17
45001530,-0.054047,-1.287195,0.191145,0.018072,0.208255,0.035867,-0.471650,-0.015300,0.205094,0.155944,...,-9.516982e-08,1.203578e-08,2.983617e-09,1.554594e-16,1.659755e-17,-2.861804e-17,-7.995558e-18,4.936704e-17,-1.392693e-17,-3.009331e-17
45001531,-0.055069,-1.088675,0.158721,0.016928,0.147567,0.000133,-1.170166,0.044110,0.325384,0.213471,...,-1.291028e-08,-3.605924e-09,-6.031739e-09,1.728067e-16,-3.134930e-18,1.475005e-17,-1.904087e-17,7.176259e-17,-2.306134e-17,-4.128769e-17

#### Loop through the three datasets (original, minmax scaled and standard scaled) for different variance thresholds
We would like to create a table for comparing the best strategy moving forward

In [6]:
data = [nutrients_matrix, nutrients_min_max_scaled, nutrients_standard_scaled]

In [13]:
#create a list of the three datasets for looping
data = [nutrients_matrix, nutrients_min_max_scaled, nutrients_standard_scaled]
#list which will store our results for each dataset
results = []
for j in range(len(data)):
    variance_columns = {}
    #get variance explanation thresholds from 0.75 to 0.95 and record number of columns needed
    #reason (from sklearn docs):
    #If 0 < n_components < 1 and svd_solver == 'full', select the number of components such that the amount of 
    #variance that needs to be explained is greater than the percentage specified by n_components.
    for threshold in np.linspace(0.75, 1, num=5, endpoint=False):
        #set pca using the variance explanation requirement
        pca = PCA(n_components = threshold, svd_solver = 'full')
        pca.fit(data[j])
        pca_result = pca.transform(data[j])
        variance_columns[threshold] = pca_result.shape[1]
    results.append(variance_columns)

In [21]:
g = pd.DataFrame(results)
g = g.T
g.reset_index(inplace = True)
g.rename(columns = {"index": "% Variance Explained", 0: "Original DF", 1: "MinMaxScaled Df", 2: "StandardScaled Df"}, inplace = True)
g

   % Variance Explained  Original DF  MinMaxScaled Df  StandardScaled Df
0                  0.75            2                2                 38
1                  0.80            2                3                 42
2                  0.85            2                3                 47
3                  0.90            3                4                 52
4                  0.95            3                7                 59