### Motivation
This notebook is a playground to test the types of queries we can do on a feature layer.

In [1]:
import arcgis
from arcgis.gis import GIS
from arcgis.features import *
import pandas as pd
import sys
sys.path.append('../../')
from utils import get_config
#from feature_layer_utils import *

In [2]:
app_id = get_config("arcgis","clientid")
gis = GIS("https://ucsdonline.maps.arcgis.com/home", client_id=app_id)

<configparser.ConfigParser object at 0x108f64ee0>
Please sign in to your GIS and paste the code that is obtained below.
If a web browser does not automatically open, please navigate to the URL below yourself instead.
Opening web browser to navigate to: https://ucsdonline.maps.arcgis.com/sharing/rest/oauth2/authorize?response_type=code&client_id=Elm5V3upnnV17Q3r&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&state=Q0QWWLlqUvXE2xQmUBCF4amYl4HMwS&allow_verification=false

Enter code obtained on signing in using SAML:  ········

/Users/amolkale/Documents/DSE/DSE260-Capstone-Project/capstone/venv3.9/lib/python3.9/site-packages/urllib3/connectionpool.py:1045: InsecureRequestWarning: Unverified HTTPS request is being made to host 'ucsdonline.maps.arcgis.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

In [3]:
sd_enriched_feature_layer = FeatureLayer(gis=gis,
                                         url='https://services1.arcgis.com/eGSDp8lpKe5izqVc/arcgis/rest/services/San_Diego_Neighbourhood_Consumer_Spending/FeatureServer/0')

#### Find out the consumer spending on Bread for 2022 in Mira Mesa

In [4]:
CPANAME = "\'Mira Mesa\'"  # name to search
out_fields = ["CPANAME", "X1010_X","OBJECTID_1"]  # fields to return
where = f"CPANAME = {CPANAME}"

In [5]:
where

"CPANAME = 'Mira Mesa'"

In [6]:
record_row = sd_enriched_feature_layer.query(
    where=where,
    out_fields=out_fields
)

In [7]:
record_row.sdf

,CPANAME,X1010_X,OBJECTID_1,SHAPE
0,MIRA MESA,5203959.0,106,"{""rings"": [[[-13046948.246, 3880324.3849], [-1..."

In [8]:
#### Find out Bread consumption for 2022 in Mira Mesa

#### Query range of values : Find all the neighborhoods where consumers spent more that 2 million dollars on Bread in 2022.

In [9]:
sd_enriched_feature_layer.query(where='X1010_X > 2000000',
                                out_fields=out_fields).sdf

,CPANAME,X1010_X,OBJECTID_1,SHAPE
0,GREATER NORTH PARK,4057060.0,68,"{""rings"": [[[-13040804.6113, 3860999.3313], [-..."
1,MID-CITY:CITY HEIGHTS,2449028.0,71,"{""rings"": [[[-13037513.805, 3857815.0702], [-1..."
2,DOWNTOWN,4707996.0,72,"{""rings"": [[[-13043139.7245, 3859275.1508], [-..."
3,PACIFIC BEACH,3768542.0,74,"{""rings"": [[[-13048018.771, 3869040.1256], [-1..."
4,UPTOWN,4390960.0,75,"{""rings"": [[[-13040302.9278, 3864050.5045], [-..."
5,SKYLINE-PARADISE HILLS,2674592.0,83,"{""rings"": [[[-13027744.4473, 3858425.5076], [-..."
6,CARMEL VALLEY,4034687.0,85,"{""rings"": [[[-13045641.104, 3886168.9924], [-1..."
7,RANCHO BERNARDO,3941037.0,87,"{""rings"": [[[-13030280.5879, 3902111.1552], [-..."
8,LA JOLLA,4019633.0,90,"{""rings"": [[[-13051987.2482, 3880191.4744], [-..."
9,MISSION VALLEY,2287473.0,91,"{""rings"": [[[-13043119.3253, 3863357.3207], [-..."
10,CLAIREMONT MESA,5874075.0,92,"{""rings"": [[[-13044214.3292, 3875078.4077], [-..."
11,RANCHO PENASQUITOS,3450888.0,95,"{""rings"": [[[-13039944.6173, 3892420.0087], [-..."
12,SCRIPPS MIRAMAR RANCH,2097997.0,96,"{""rings"": [[[-13031306.2425, 3884737.9772], [-..."
13,Spring Valley,2944213.0,97,"{""rings"": [[[-13024998.3521, 3862512.1202], [-..."
14,OTAY MESA-NESTOR,2217397.0,98,"{""rings"": [[[-13037099.663, 3843048.8614], [-1..."
15,TIERRASANTA,2275204.0,102,"{""rings"": [[[-13027312.5845, 3874730.6478], [-..."
16,MIRA MESA,5203959.0,106,"{""rings"": [[[-13046948.246, 3880324.3849], [-1..."
17,NAVAJO,4501244.0,108,"{""rings"": [[[-13035757.0359, 3866007.7937], [-..."
18,UNIVERSITY,4782492.0,109,"{""rings"": [[[-13052649.1116, 3885535.2141], [-..."
19,PENINSULA,3738561.0,112,"{""rings"": [[[-13050768.8644, 3851343.0747], [-..."
20,Fallbrook,2902911.0,123,"{""rings"": [[[-13051087.4973, 3952777.0418], [-..."
21,Valle De Oro,3351657.0,126,"{""rings"": [[[-13018196.0901, 3867056.0895], [-..."
22,San Dieguito,3545691.0,133,"{""rings"": [[[-13051411.5814, 3896445.5439], [-..."
23,Lakeside,4555367.0,134,"{""rings"": [[[-13004280.2877, 3890549.4964], [-..."
24,Ramona,2430280.0,140,"{""rings"": [[[-12993991.2465, 3911793.7528], [-..."

### Query San Diego Businesses to check if there are businesses of a particular type ?

In [10]:
sd_biz_layer = FeatureLayer(url="https://services1.arcgis.com/eGSDp8lpKe5izqVc/arcgis/rest/services/ad2ed6/FeatureServer/0",
                           gis=gis)

Query With Equality Operator for `Groecery store`

In [11]:
search_biz_type='Grocery store'
where_str = f"LOWER(business_t)='{search_biz_type}'"
print(f"Where Clause: {where_str}")
sd_biz_layer_food_fs = sd_biz_layer.query(where=where_str, out_fields="*")
sd_biz_layer_food_fs.sdf

Where Clause: LOWER(business_t)='Grocery store'

,FID,business_n,zip,business_t,city,SHAPE
0,280,Stater Bros. Markets,92129,Grocery store,San Diego,"{""x"": -13037051.163477467, ""y"": 3889937.857140..."
1,789,Jack's Grocery,92036,Grocery store,Julian,"{""x"": -12980081.298993686, ""y"": 3905667.294382..."
2,1051,Summer's Liquor,92116,Grocery store,San Diego,"{""x"": -13040680.702078935, ""y"": 3863635.039104..."
3,1073,Chosen Foods,92154,Grocery store,San Diego,"{""x"": -13024559.558137592, ""y"": 3839051.945178..."
4,1176,Oloa Samoa,92054,Grocery store,Oceanside,"{""x"": -13064055.64667935, ""y"": 3921094.1269053..."
...,...,...,...,...,...,...
181,45537,Santos Market,92111,Grocery store,San Diego,"{""x"": -13043828.81727857, ""y"": 3865331.5724294..."
182,46138,Rick's Grocery & Deli,92025,Grocery store,Escondido,"{""x"": -13032785.356062474, ""y"": 3909580.315931..."
183,46238,Mother's Nutritional Center,91950,Grocery store,National City,"{""x"": -13035339.181028558, ""y"": 3852483.520224..."
184,46273,Camp Margarita MCX,92055,Grocery store,Camp Pendleton North,"{""x"": -13065329.887494612, ""y"": 3936578.804773..."
185,46348,Keil's Food Stores,92117,Grocery store,San Diego,"{""x"": -13045801.543370765, ""y"": 3868034.501812..."

Query With String Pattern matching where clause (matching `sandwich shop`)

In [13]:
search_str_pattern="sandwich shop"
where_str = f"business_t like '%{search_str_pattern}%'"
print(f"Where Clause: {where_str}")
sd_biz_layer_food_fs = sd_biz_layer.query(where=where_str, out_fields="*")
sd_biz_layer_food_fs.sdf

Where Clause: business_t like '%sandwich shop%'

,FID,business_n,zip,business_t,city,SHAPE
0,20,Subway,92104,"Sandwich shop,Caterer,Fast food restaurant,Tak...",San Diego,"{""x"": -13040484.379024971, ""y"": 3862807.731599..."
1,24,Subway,92120,"Sandwich shop,Caterer,Fast food restaurant,Tak...",San Diego,"{""x"": -13035236.666909486, ""y"": 3867041.975488..."
2,68,Perfectsubs,92081,"Sandwich shop,Fast food restaurant,Takeout Res...",Vista,"{""x"": -13049854.29641233, ""y"": 3912993.7819250..."
3,139,Lobster West,92024,"Restaurant,Sandwich shop,Seafood restaurant",Encinitas,"{""x"": -13057004.97069513, ""y"": 3900880.8058642..."
4,202,Subway,92083,"Sandwich shop,Caterer,Fast food restaurant",Vista,"{""x"": -13049952.558126854, ""y"": 3920721.884310..."
...,...,...,...,...,...,...
816,46040,Subway,92126,"Sandwich shop,Caterer,Fast food restaurant,Tak...",San Diego,"{""x"": -13040460.367410807, ""y"": 3883606.086557..."
817,46041,Subway,92113,"Sandwich shop,Fast food restaurant,Takeout Res...",San Diego,"{""x"": -13037414.699538553, ""y"": 3855072.920023..."
818,46154,Yum Yum Donuts,92114,"Donut shop,Coffee shop,Dessert shop,Sandwich shop",San Diego,"{""x"": -13027226.61728971, ""y"": 3857984.0192342..."
819,46285,Surfing Bear Sandwich,92109,"Cafe,Bakery,Coffee shop,Sandwich shop",San Diego,"{""x"": -13052537.396703072, ""y"": 3866852.518707..."
820,46371,Charlie's Best Bread,92109,"Bakery,Coffee shop,Pizza Takeout,Sandwich shop...",San Diego,"{""x"": -13050796.5713741, ""y"": 3868953.53026934..."